body {
  margin: 30px;
}

#resume {
  max-width: 800px;
  width: 100%;
  margin: auto;
}

#resume div,
#contact div,
#skills div,
#work div,
#work ul,
#projects div,
#education div {
  margin: 0;
}

#work .job {
  margin-bottom: 8px;
}

@media print {
  #resume {
    max-width: none !important;
  }
}
