body {
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 300;
}

/* Header Section */

header {
  text-align: center;
  margin-bottom: 15px;
}

header h1 {
  font-size: 32px;
  margin: 0 0 5px 0;
}

header #first-name {
  font-weight: 100;
}

header #last-name {
  font-weight: 900;
}

header #career-title {
  color: #5b9bd5;
}

header #location {
  color: #a5a5a5;
}

header .subtitle span {
  margin: 0 5px;
}

.fa-linkedin,
.fa-github,
.fa-envelope,
.fa-phone {
  margin-right: 2px;
}

/* Main Section */

h2 {
  font-family: 'Source Sans Pro';
  color: #4472c4;
  margin-bottom: 10px;
  padding-bottom: 3px;
  border-bottom: 0.5px solid #a5a5a5;
}

/* Skills Section */

#skills p {
  margin: 0 5px;
}

#skills .name {
  display: inline-block;
  text-align: right;
  font-weight: 600;
  margin-right: 5px;
  width: 80px;
}

/* Work Experience Section */

#work ul {
  padding-left: 15px;
  clear: both;
}

#work .job {
  overflow: auto;
}

#work .job .details {
  height: 33px;
  position: relative;
}

#work .job .details div {
  display: inline-block;
}

#work .company {
  font-size: 14px;
  font-weight: 600;
}

#work .title {
  font-size: 13px;
  font-style: italic;

  position: absolute;
  left: 0;
  bottom: 0;
}

#work .location {
  color: #5b9bd5;
  font-style: italic;

  position: absolute;
  right: 0;
  top: 0;
}

#work .date {
  font-style: italic;

  position: absolute;
  right: 0;
  bottom: 0;
}

/* Personal Projects Section */

#projects .name {
  font-weight: 600;
}

/* Education Section */

#education #university-degree {
  font-weight: 600;
}
